{% extends 'base.html' %}

{% block content %}
    <div class="blog-details">
        <div class="blog">
            <img src="{{ blog.thumb.url }}" alt="{{ blog.slug }}">
            <h2>
                <div>
                    <div class="blog-details-title">
                        {{ blog.title }}
                    </div> 
                    <div class="blog-details-author">
                        {{ blog.author }} - {{ blog.date }}
                    </div>
                </div>
                
                
            </h2>
            <p>{{ blog.body }}</p>
          

            {% if user.is_authenticated and user == blog.author %}
                    <a href="{% url 'blogs:update' slug=blog.slug %}" class="highlight">Update</a>
                    <a href="{% url 'blogs:delete' slug=blog.slug %}" class="highlight">Delete</a>
            {% endif %}
        </div>
    </div>
{% endblock %}